@{
    ViewBag.Title = Language.TitleSearchDelete;
}

<section id="head">
    <div class="content">
        <h1 id="title">@ViewBag.Title</h1>
    </div>
</section>
<section id="searchSave">
    <h2 id="description">@TempData["deleteRicerca"]</h2>
</section>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
