@Styles.Render("~/Content/partners.css")
<section id="head">
    <div class="content">
        <h1 id="title">@Resources.Language.TitlePartners</h1>
    </div>
</section>
<section id="center">
    <div class="content">
        <h2 id="description">@Resources.Language.Partners</h2>
        <div id="boxServices">
            <div class="service">
                <h2 class="title"><a href="http://www.avvocatoclick.com" target="_blank" title="Avvocato Click">Avvocato Click</a></h2>
            </div>
            <div class="service">
                <h2 class="title"><a href="http://www.psicologiadomicilio.org" target="_blank" title="Psicologi a domicilio">Psicologi a domicilio</a></h2>
            </div>
            <div class="service">
                <h2 class="title"><a href="http://www.jadenka.com" target="_blank" title="Jadenka">Jadenka</a></h2>
            </div>
            <div class="service">
                <h2 class="title"><a href="http://www.davidemilitano.net" target="_blank" title="Davide Militano">Davide Militano</a></h2>
            </div>
        </div>
    </div>
</section>