@Styles.Render("~/Content/privacy.css")
<section id="head">
    <div class="content">
        <h1 id="title">@ViewBag.Title</h1>
    </div>
</section>
<section id="privacy">
    GratisForGratis informa i Clienti che il conferimento dei dati richiesti &egrave; necessario per l'erogazione dei servizi e non vincolante, e comunica ai sensi e per gli effetti dell'art. 13 del D.Lgs. 196/03 agli interessati, che le informazioni e i dati
    personali dagli stessi forniti a fronte dell'adesione al presente servizio, verranno trattati dal titolare con correttezza, liceit&agrave; e trasparenza.<br /><br />

    I dati forniti verranno raccolti con modalit&agrave; informatizzate o cartacee, e saranno custoditi sui server di GratisForGratis, gli stessi potranno essere modificati
    o cancellati previa preventiva comunicazione da trasmettersi al seguente indirizzo di posta elettronica
    <a class="txtInEvidenza" href="mailto:info@gratisforgratis.com?subject=Cancellazione dati">info@gratisforgratis.com</a>.<br /> <br />

    A seguito del conferimento del consenso, i dati raccolti verranno inseriti nelle banche dati di GratisForGratis e non saranno comunicati e diffusi a terzi.<br /> <br />

    Il titolare del trattamento &egrave; GratisForGratis, in persona del legale rappresentante pro tempore. Ai sensi dell'art. 7 del D. Lgs. 196/03 il Responsabile del trattamento &egrave; GratisForGratis.<br /><br />

    Il Cliente aderente potr&agrave; rivolgersi al titolare e al responsabile del trattamento per far valere i Suoi diritti cos&igrave; come previsti dall'articolo 7 del D. Lgs. 196/03.<br><br />

    Per ogni ulteriore informazione si prega di scrivere al seguente indirizzo di casella di posta <a class="txtInEvidenza" href="mailto:info@gratisforgratis.com?subject=privacy">info@gratisforgratis.com</a>.<br /><br />
    <a href="//www.iubenda.com/privacy-policy/7898035" class="iubenda-white iubenda-embed" title="Privacy Policy">Altre policy</a>
    <script type="text/javascript">(function (w,d) {var loader = function () {var s = d.createElement("script"), tag = d.getElementsByTagName("script")[0]; s.src = "//cdn.iubenda.com/iubenda.js"; tag.parentNode.insertBefore(s,tag);}; if(w.addEventListener){w.addEventListener("load", loader, false);}else if(w.attachEvent){w.attachEvent("onload", loader);}else{w.onload = loader;}})(window, document);</script>
</section>
