@Styles.Render("~/Content/cosaFacciamo.css")
<section id="head">
    <div class="content">
        <h1 id="title">@Language.WhyRegister</h1>
    </div>
</section>
<section id="advantages">
    <ul class="persone">
        <li class="voce">
            <h3><strong>PERSONE</strong></h3>
        </li>
        <li class="voce">
            <h5>Beni e servizi <strong>gratis</strong></h5>
        </li>
        <li class="voce">
            <h5>Diverse modalità di commercio (<strong>Vendita gratuita, baratto singolo / multiplo, baratto più <a href="/Home/MonetaVirtuale" title="Moneta virtuale G-Coin">G-Coin</a>, regalo</strong>)</h5>
        </li>
        <li class="voce">
            <h5><strong><a href="/Home/MonetaVirtuale" title="Moneta virtuale G-Coin">G-Coin</a> omaggio</strong> alla registrazione (10 + 40)</h5>
        </li>
        <li class="voce">
            <h5>Guadagno <strong>crediti ad ogni accesso</strong> e ricezione crediti da <a href="/Home/Partners" title="Moneta virtuale G-Coin">siti partner</a></h5>
        </li>
        <li class="voce">
            <h5><strong>Salvataggio ricerca</strong> per ricevere la notifica in tempo reale</h5>
        </li>
        <li class="voce">
            <h5>Possibilità di ricevere <strong>notifiche su whatsapp e telegram!</strong></h5>
        </li>
        <li class="voce">
            <h5><strong>Ricerche avanzate</strong> (per vicinanza, marca, materiale o componenti)</h5>
        </li>
    </ul>
    <ul class="hobby">
        <li class="voce">
            <h3><strong>ATTIVITà / HOBBY</strong></h3>
        </li>
        <li class="voce">
            <h5>Beni e servizi <strong>gratis</strong></h5>
        </li>
        <li class="voce">
            <h5>Diverse modalità di commercio (<strong>Vendita gratuita, baratto singolo / multiplo, baratto più <a href="/Home/MonetaVirtuale" title="Moneta virtuale G-Coin">G-Coin</a>, regalo</strong>)</h5>
        </li>
        <li class="voce">
            <h5><strong><a href="/Home/MonetaVirtuale" title="Moneta virtuale G-Coin">G-Coin</a> omaggio</strong> alla registrazione (10 + 40)</h5>
        </li>
        <li class="voce">
            <h5>Guadagno <strong>crediti ad ogni accesso</strong> e ricezione crediti da <a href="/Home/Partners" title="Moneta virtuale G-Coin">siti partner</a></h5>
        </li>
        <li class="voce">
            <h5><strong>Salvataggio ricerca</strong> per ricevere la notifica in tempo reale</h5>
        </li>
        <li class="voce">
            <h5>Possibilità di ricevere <strong>notifiche su whatsapp e telegram!</strong></h5>
        </li>
        <li class="voce">
            <h5><strong>Ricerche avanzate</strong> (per vicinanza, marca, materiale o componenti)</h5>
        </li>
        <li class="voce">
            <h5><strong>Pubblicità</strong> gratis</h5>
        </li>
        <li class="voce">
            <h5><strong>Social per i commercianti</strong> dove potersi contattare e stabilire nuove collaborazioni</h5>
        </li>
        <li class="voce">
            <h5><strong>Fidelizzazione clienti</strong>, grazie anche all'introduzione di coupon</h5>
        </li>
        <li class="voce">
            <h5><strong>Punti fedeltà</strong> generati dal portale e utilizzabili da <strong>mobile</strong></h5>
        </li>
        <li class="voce">
            <h5>Vendere a <strong>prezzo pieno l'invenduto</strong></h5>
        </li>
        <li class="voce">
            <h5>Commercio <strong>senza concorrenza!</strong></h5>
        </li>
        <li class="voce">
            <h5><strong>Aumento dei guadagni</strong> (Meno costi e recupero dei crediti insoluti)</h5>
        </li>
    </ul>
</section>