@Styles.Render("~/Content/sitiUtili.css")
<section id="head">
    <div class="content">
        <h1 id="title">Siti utili</h1>
    </div>
</section>
<section id="siteweb">
    <a href="https://wikileaks.org/" title="wikileaks">Wikileaks - Sito per la pubblicazione di documenti top secret!</a>
    <a href="http://justknock.it/it/index.html" title="justknock">JustKnock - Invia le tue idee alle aziende!</a>
    <a href="http//www.taskyjob.com/" title="taskyjob">TaskyJob - Guadagna tempo libero!</a>
    <a href="http://geniup.com/" title="geniup">GeniUp - Imparare facilmente a costruire un'impresa!</a>
</section>