#advantages{
}

    #advantages .colonna {
        overflow-y:auto;
        border: 2px solid;
        border-radius: 6px;
        box-shadow: 0px 0px 8px;
        display: inline-block;
        font-weight: 900;
        max-height:422px;
        min-width: 260px;
        vertical-align: top;
        width: 40%;
    }

    #advantages .colonna.persone{
        color:#1899D2;
    }
    #advantages .colonna.hobby{
        color:#a2c642;
    }

#advantages ul {
    list-style:none;
    padding: 0% 2%;
    margin-bottom:40px;
}

#advantages ul li{
    margin-bottom: 20px;
    text-align: left;
    list-style: inside;
    list-style-type: decimal;
}

#advantages ul li h5{
    color: #333;
    display: inline;
    font-weight: normal;
    line-height: 25px;
}