#feedback .text{
    max-width: 500px;
    margin:0px auto 25px;
    font-size:16px;
}
#feedback .details{
    margin: 0px auto;
    overflow: hidden;
    word-wrap: break-word;
    font-size:18px;
}
