#acquisto .phote{
    background-color:#a5c71b;
    border:1px solid #337ab7;
    max-width:300px;
}

#acquisto .title{
    /*color:#bd1723;
    text-decoration:underline;
    margin:0px 0px 18px;*/
    color: #bd1723;
    font-size: 20px;
    font-weight: bold;
}

#acquisto .object > div{
    display:inline-block;
    vertical-align:top;
}

#acquisto .left{
    text-align:center;
}

#acquisto .feedback{
    background-image: url("../Images/Icone/rating.svg");
    background-repeat: no-repeat;
    background-size: 24px 24px;
    padding-bottom: 2px;
    padding-left: 32px;
    padding-top: 6px;
    max-width:148px;
    text-align:left;
}

#acquisto .right{
    max-width:400px;
    margin-left:12px;
}

#acquisto .right .info{
    text-align:left;
}

#acquisto .object .details{
    display:none;
}

#acquisto .btn{
    height: 30px;
    padding: 4px;
    width: 100px;
    margin-bottom:10px;
}

#acquisto .btn.buy, #acquisto .btn.add{
    width: 160px;
}

#boxBarter{
    display:none;
}

#boxBarter.barter{
    display:block;
}

#boxBarter .form-control
{
    display:inline-block;
}

#previewBarter{
    background-color: #1899D2;
    margin-bottom: 12px;
}
#previewBarter .barter, #previewBarter .barter a {
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    margin: 0px;
    padding: 6px;
    border-bottom: 2px solid;
}
#previewBarter .barter a, #previewBarter .barter a:hover{
    color: #fff;
    font-weight:bold;
    text-decoration:none;
    border:none;
}
