html, body {
    margin:0px;
    padding:0px;
    width:100%;
    height:100%;
    font-size:13px;
    /*color:#178fcc;*/
}

img{
    border-radius: 8px;
    border:none;
}

textarea{
    resize:none;
}

.loader .loader-load, .loader .loader-overlay{
    position:fixed !important;
}

.lazy {
    display: none;
}

.evidence{
    color:#337ab7;
}

.message{
    background-color: #178fcc;
    color: #fff;
    font-weight: bold;
    padding: 12px;
}

.popup{
    display:none;
}

.popup input, .popup select{
    display: block;
    margin:16px 0px;
}

.popup input[type="text"], .popup input[type="email"], .popup input[type="tel"]
{
    width:100%;
}

.popup textarea{
    width:100%;
}

.popup .upload{
    margin:20px 0px;
}

.popup .button{
    color:#fff;
}

.ui-dialog{
    max-width:100%;
}

.banner{
    margin: 14px auto;
    max-width: 800px;
	position:relative;
}

.banner .info{
	color: #fff;
    font-size: 11px;
    font-style: italic;
    font-weight: bold;
    left: 12px;
    position: absolute;
    top: 6px;
}

.banner a{
	text-decoration:none;
}
.banner .slogan{
	color: #fff;
    font-size:22px;
    font-style: italic;
    font-weight: bold;
    letter-spacing: 2px;
    margin-bottom: 0px;
    text-align: center;
    padding: 26px;
}
.banner .producter{
    bottom: 6px;
    color: #fff;
    font-size: 9px;
    font-style: italic;
    font-weight: bold;
    letter-spacing: 1px;
    position: absolute;
    right: 20px;
    text-transform: uppercase;
}

/* LOGIN */
#linkLogin{
    text-align:right;
    list-style:none;
    padding:8px 12px 0px;
    margin-bottom:0px;
    height:28px;
}

#linkLogin li{
    display:inline;
    padding:0px 6px;
}

#linkLogin li:last-child{
    padding-left:12px;
    border:none;
}

#linkLogin li.register{
    border-left:1px solid;
}

#linkLogin a{
    color:#000;
}

/* HEADER */

header{
    position:relative;
    /*text-align:center;*/
    border-bottom: 8px solid #eee;
    padding-bottom:20px;
}

header a, #header a:link{
    
}

#logo:hover, #logo:link{
    border:none !important;
    background-color:transparent !important;
    display: inline-block;
    max-width: 220px;
    text-align: center;
    margin-right:5%;
}

#logo .ico{
    width: 100%;
    max-width:176px;
}

#logo .slogan{
    margin:10px 0px 0px;
    font-size: 20px;
    text-align: center;
}

.fb_iframe_widget{
    margin-top:10px;
}

header .ico{
    width:10%;
    min-width:70px;
    display:inline-block;
    vertical-align:top;
}

/* MENU */

#menuMobileOverlay, #menuMobile{
    display:none;
}

#menuMobile .menu{
    display:none;
}

header menu{
    /*width:70%;*/
    padding:0px;
    margin:0px;
    display:inline-block;
    vertical-align:top;
    text-align:center;
}

header menu .hide{
    display:none;
}

header menu ul.nav-pills{
    padding:0px;
    margin-left:0px;
    list-style:none;
}

header menu ul.nav-pills > li{
    float:none;
    display:inline-block;
    border-right: 1px solid;
    text-align:center;
    padding:0px 12px;
}

header menu ul.nav-pills > li:last-child{
    border:none;
}

header menu ul.nav-pills .logout{
    min-width:unset;
}

header menu ul.nav-pills > li > a{
    padding-top:0px;
    color:#000;
}

#menu{
    position:absolute;
    z-index:3;
}

#menu.ui-menu{
    display:none;
}
/*
#menu li {
    display: block;
    min-width:138px;
    padding:10px 6px;
    text-align: left;
}*/

.dropdown-menu>li
{	
    display: block;
    min-width:138px;
    padding:10px 6px;
    text-align: left;
    position:relative;
	-webkit-user-select: none; /* Chrome/Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+ */
	/* Rules below not implemented in browsers yet */
	-o-user-select: none;
	user-select: none;
	cursor:pointer;
}
.dropdown-menu .sub-menu {
    left: 100%;
    position: absolute;
    top: 0;
    display:none;
    margin-top: -1px;
	border-top-left-radius:0;
	border-bottom-left-radius:0;
	border-left-color:#fff;
	box-shadow:none;
}
.right-caret:after,.left-caret:after
 {	content:"";
    border-bottom: 5px solid transparent;
    border-top: 5px solid transparent;
    display: inline-block;
    height: 0;
    vertical-align: middle;
    width: 0;
	margin-left:5px;
}
.right-caret:after
{	border-left: 5px solid #ffaf46;
}
.left-caret:after
{	border-right: 5px solid #ffaf46;
}
/*
#menu li, li:hover, #menu li.ui-state-active{
    background-image:none;
    background-color:#fff;
    border-color:#312e25;
    cursor:pointer;
}

#menu li:hover a, #menu li.ui-state-active a, #menu li.ui-state-active a:link, #menu li.ui-state-active a:visited{
    color:#337ab7;
}*/

header menu .subCategory{
    max-width:700px;
    padding:0px 15px;
    margin:33px auto 0px;
}

header menu .subCategory .link{
    display:inline-block;
    font-weight:bold;
    margin-right:12px;
}

#cart{
    text-align:right;
    min-width: unset;
}

#cart .ico{
    width:22px;
    vertical-align:middle;
    display:none; /* momentaneamente*/
}

#betatesting{
    position: absolute;
    right: 10px;
    top: 4px;
    width: 160px;
}

input[type="checkbox"]{
    display:none;
}

input[type="checkbox"]+input[type=hidden]+label, input[type="checkbox"]+label{
    background-image:url("../Images/icone/checkbox_off.svg");
    background-position:left center;
    background-repeat:no-repeat;
    background-size:22px auto;
    padding-top:5px;
    padding-left:30px;
    min-width:30px;
    min-height:30px;
    margin:0px;
}

input[type="checkbox"]:checked+input[type=hidden]+label, input[type="checkbox"]:checked+label{
    background-image:url("../Images/icone/checkbox_on.svg");
}

textarea.form-control{
    width: 300px;
    height: 120px;
    resize: none;
}

.ico{
    width:80px;
}

.text-danger.field-validation-error{
    display: block;
    margin-top: 20px;
}

/* RICERCA DALL'HEADER */

#cerca .form-control, #cerca .form-control:hover{
    display:inline-block;
    vertical-align:top;
    width:220px;
    padding-right: 36px;
    padding-left:20px;
    border-color:#ccc;
}

#cerca .control-label{
    min-width: 0px;
    color: #178fcc;
}

#cerca .btn-search{
    background-color: transparent;
    background-image: url("/Images/icone/search.svg");
    background-position: center center;
    background-size: cover;
    border: medium none;
    height: 23px;
    width: 23px;
    position: absolute;
    right: 10px;
    top: 6px;
    vertical-align: middle;
    color:transparent;
}

#cerca .btnSearchSave{
    background-color: transparent;
    background-image: url("/Images/icone/save.svg");
    background-position: center center;
    background-size: cover;
    border: medium none;
    height: 23px;
    width: 23px;
    position: absolute;
    right: -32px;
    top: 6px;
    vertical-align: middle;
    color:transparent;
}

#toolbar{
    padding:0px 15px;    
}

#toolbar .tipoAcquisto{
    width: 150px;
    margin-right:12px;
    margin-top: 12px;
}

#toolbar .menuCategoria .btn{
    /*color:#000;*/
    border-radius:6px 0px 0px 6px;
    /*background-color: #eee;*/
    border-color:#ccc;
    width:140px;
}

.menuCategoria{
    display: inline-block;
    margin: 0px -10px 0px 0px;
    vertical-align: top;
}

.menuCategoria .btn.selected, #toolbar .menuCategoria .btn:hover{
    /*width:auto;
    padding: 6px 20px;
    background-color: #eee;*/
    border-color:#ccc;
}

.menuCategoria .categoriaSelezionata{
    display: inline-block;
    overflow: hidden;
    vertical-align: top;
    min-width:70px;
    max-width: 100px;
}

section{
    text-align:center;
    padding: 2% 0% 0%;
}

/* PULSANTI */

.btn{
    background-color:#1899D2;
    border-radius: 6px;
    /*color: #337ab7;*/
    color:#fff;
    font-weight:bold;
    margin: 0px;
    padding: 6px;
    width: 136px;
    transition-duration: .3s;
    transition-timing-function: ease-in-out;
    transition-property: box-shadow, color;
}

.btn.object{
    background-color:#1899D2;
}

.btn.service{
    background-color:#a2c642;
}

.btn:hover, .btn.selected{
    color:#fff;
    box-shadow: 0 0.05em 0.25em 0 rgba(0, 0, 0, 0.35), inset 0 0 0 2em rgba(0, 0, 0, 0.3);
}

.btn.object{
    background-color:#178fcc;
}

#head{
    padding-bottom: 2%;
}

#page{
    text-align:left;
}

#title, #description{
    text-align:center;
    padding:0% 3%;
    margin:0px auto;
    font-weight: bold;
}

#title{
}

#description{
    /*color:#bd1723;*/
    /*color:#a5c71b;*/
    color:#337ab7;
    font-size: 18px;
    width: 70%;
}

/* Set width on the form input elements since they're 100% wide by default */
input, select, textarea {
    max-width: 280px;
}

input[type=time]{
    max-width: 42px;
}

input[type="text"].number{
    width:50px;
    text-align:center;
}

.form-horizontal{
    /*text-align:left;*/
    width:80%;
    margin:0% auto;
}

.form-horizontal .riga{
    padding-bottom:12px;
    margin-bottom:20px;
}

.form-horizontal .form-group{
    display: inline-block;
    margin: 0% 3% 22px;
    min-width: 200px;
    text-align: left;
    vertical-align: top;
    width: 26%;
}

.form-horizontal .form-control{
    padding:4px;
    min-height:26px;
}

.form-horizontal .control-label
{
    float:none;
    width:auto;
    text-align:left;
    padding:0px 0px 12px;
    text-decoration:underline;
}

.form-horizontal .footer{
    margin:20px 0px 0px;
}

.col-md-10 {
    padding: 0px;
    margin:0px;
    width: 100%;
}

#window{
    min-height:100%;
    height:auto !important;
    height:100%;
    width:100%;
}

#window > header, #window > section, #window > footer{
    padding-left:3%;
    padding-right:3%;
    text-align: center;
}

body > footer{
    text-align:center;
    padding:20px 10px 10px;
    border-top: 8px solid #eee;
    clear: both;
}

footer h4 {
  color: #a2c642;
  font-weight: 900;
  text-transform: uppercase;
}

footer h5 {
  color: #337ab7;
  font-size: 11px;
  font-weight: 900;
  letter-spacing: 1px;
  text-transform: uppercase;
}
footer h6 a {
  color: #333;
}

#footermenu{
    max-width:800px;
    margin:0px auto;
}

#footermenu li{
    display:inline-block;
    vertical-align:top;
}

#footermenu li a{
    font-weight: bold;
    margin-right: 12px;
}

.bar {
    height: 12px;
    background: green;
}

#ErroreGenerico{
    display: block;
    font-weight: bold;
    margin: 20px 0px;
    text-align: left;
    text-transform: uppercase;
}

.ui-autocomplete{
    background-color:#a5c71b;
    color:#fff;
    font-weight:bold;
    list-style:none;
    padding:0px;
    max-width:192px;
    border-radius:6px;
}

.ui-autocomplete li{
    padding:10px;
    border-radius:6px;
}

.ui-autocomplete li.ui-state-focus{
    background-color:#178fcc;
}

.ui-autocomplete li a{
    color:#337ab7;
}

.ui-autocomplete li.ui-state-focus a{
    color:#fff;
}

#messaggioPerUtente .testo{
    padding: 5px 27px;
    background-color: #ff0000;
    color: #ffffff;
}

#messaggioPerUtente .testo a{
    color: #ffffff;
    text-decoration:underline;
    font-weight:900;
    text-transform:uppercase;
}

/* CSS PER SCREEN MINORI DI 940PX */

@media only all and (max-width: 480px){

    #window > header, #window > section, #window > footer{
        padding-left:0%;
        padding-right:0%;
    }

    /* start menu*/
    #menuMobileOverlay{
        position:fixed;
        z-index:1;
        background-color:#A2C642;
        width:100%;
        height:100%;
    }

    #menuMobile{
        position:absolute;
        top:0px;
        right:0px;
        display:block;
        width:100%;
        text-align:right;
        z-index:2;
        padding-top:20px;
    }

    #menuMobile .icona{
        width:32px;
        height:32px;
        cursor:pointer;
        margin-right:6px;
    }

    #menuMobile .menu{
        display:none;
        text-align:center;
        list-style:none;
        padding:0px;
    }

    #menuMobile .menu li{
        padding:12px 0px;
    }

    #menuMobile > .menu > li > a{
        text-transform:uppercase;
        color:#fff;
        font-weight:900;
        font-size:16px;
    }

    #linkLogin{
        display:none;
    }

    .dropdown-menu > li > a{
        text-transform:uppercase;
    }
    /* end menu */

    #description{
        display:none;
    }

    header{
        padding-top:20px;
    }

    header menu ul.nav-pills{
        display:none;
        position:absolute;
        top:34px;
        right: 34px;
    }

    #toolbar .tipoAcquisto{
        margin-right:0px;
    }
    
    #toolbar .menuCategoria .btn{
        border-radius: 6px;
        margin-bottom: 12px;
    }

    #cerca .btn-search{
        bottom:6px;
        right:24px;
        top:auto;
    }

    #cerca .btnSearchSave{
        display:none;
    }

    textarea.form-control{
        max-width:240px;
    }
}

@media only all and (min-width: 0px) and (max-width: 1152px) {
	#logo:hover, #logo:link {
		margin-right:0px;
	}
}

/* CSS PER SCREEN MINORI DI 940PX */
@media only all and (min-width: 1152px) and (max-width: 1280px) {
	#logo:hover, #logo:link {
		margin-right:60px;
	}
}